
/* All Contents Design */
div.container{
    text-align: center;
    margin: 0 20px;
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'top top top top top top'        
        'first first second second third third'
        'footer footer footer footer footer footer';
    gap: 2px;
    padding: 5px;
}

/* Header Design */
header.header{
    grid-area: header;
}

/* Search Area Design */
div.top{
    background-color: #EEEEEE;
    grid-area: top;
}

/* Removed Highlights from Buttons */
a.nolink{
    text-decoration: none;
    color: black;
}

/* All Bars' Design */
article{
    grid-template-columns: auto;
    padding: 5px;
    text-align: center;
}

/* Left Bar's Design */
article.first{
    /* Next three CSS tags used for contents' centering */
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #7ee5da;
    grid-area: first;
}

/* Main Bar's Design */
article.second{
    background-color: #70ccc2;
    grid-area: second;
}

/* Right Bar's Design */
article.third{
    background-color: #62b3aa;
    grid-area: third;
}

/* Footer Design */
footer{
    grid-area: footer;
}